.sortable li.sortable-dragging {
   opacity: .25;
    -webkit-transition: -webkit-transform 0.2s ease-out;
    -moz-transition: -moz-transform 0.2s ease-out;
}
.sortable li.sortable-over {
   opacity: .25;
}
.sortable li {

}
.sortable a {
    text-decoration:none;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
[draggable] * {
  -moz-user-drag: none;
  -khtml-user-drag: none;
  -webkit-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
